<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <nav>
    <a href="/admin/login/?next=/admin/"><button>Login</button></a>
    <form method="GET" action="{% url 'home' %}">
      <input
        type="text"
        name="q"
        placeholder="Search Books..."
        value="{{query}}"
      />
    </form>
  </nav>
  <body>
    <p>{{books_avaliable}} book(s) avaliable</p>
    {% for book in books %}
    <h1>{{book.title}}</h1>
    <p>{{book.category}}</p>
    <h3>{{book.price}}</h3>
    <p>
      Estoque: {% if book.quantity > 0 %} {{book.quantity}} {% else %}
      Indisponível {% endif %}
    </p>
    {% if user.is_authenticated %}
    <a href="{% url 'sale' book_id=book.id %}"><button>Vender</button></a>
    <form action="{% url 'add_book' book_id=book.id %}" method="get">
      <label for="quantity">Adicionar ao estoque</label>
      <input id="quantity" type="number" name="quantity" />
    </form>
    {% else %}
    <p>Faça login para ter acesso às ações</p>
    <button disabled>Vender</button>
    <a><button disabled>Adicionar ao estoque</button></a>
    <span>Faça login para vender um produto</span>
    {% endif %} {% endfor %} {% for category in categories %}
    <ul>
      <li>
        <a href="{% url 'home' %}?q={{category.name}}">{{category.name}}</a>
      </li>
    </ul>
    {% endfor %}
  </body>
</html>
