{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookstore</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><h1>Bookstore</h1></a>
      <nav>
        <a href="{% url 'register_book' %}"><button>Adicionar livro</button></a>
        <a href="{% url 'sales_history' %}"
          ><button>Histórico de Vendas</button></a
        >
        <a href="/admin/logout/"><button>Sair</button></a>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <p>Bookstore - 2023</p>
      <p>Contato: fontes.manoel@escolar.ifrn.edu.br</p>
    </footer>
  </body>
</html>
